
# dependencies
# misc
# next.js
# production
# testing
# vercel
*.pem
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
.vercel
/.next/
/.pnp
/build
/coverage
/out/
node_modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
